#wrapper{
    background-color: #ffffff;
    padding: .5em;
}
nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

}
#logo{
    max-width: 60px;
}
header{
    padding: 0.5em 0.5em .5em 6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #b8e4ca;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    height:100px;
}
#headerlogo{
    background-image: url('./Images/logosmall.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex:1;
    
}
#headercontent{
    flex: 4;
}
header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main;}
aside { grid-area: aside; }
footer { grid-area: footer; }
#wrapper { display: grid;
    grid-template: 
    "header"
    "nav"
    "main"
    "aside"
    "footer"
    }
aside{
    padding: 1em;
    width: auto;
    margin: 2em auto 2em auto;
}
.aside-content{
    margin-bottom: 1em;
    padding: 1em;
    background-color: #3e4f45;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
aside h2{
    margin: 0;
}
nav a{
    display: block;
    text-decoration: none;
    background-color: #b8e4ca;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: auto;
    margin: 0.1em;
    padding: .5em;
    color: #000000;
}
nav a:hover { 
    color: #ffffff;
    background-color: #3e4f45; 
}
nav li{
    display: block;
    text-align: center;
    font-size: 120%;
}
footer{
    text-align:center;
    background-color: #b8e4ca;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #b8e4ca;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    color: #ffffff;
    background-color: #3e4f45; 
}

td {
    border-bottom: 1px solid #e0e0e0;
}
.table-month{
    background-color: #b8e4ca;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.table-month:hover{
    color: #000000;
}
#youtube-container{
    display: flex;
    justify-content: center;
}
.timestamp{
    font-weight: bold;
}
#transcript-link{
    display:flex;
    justify-content: center;
    padding: 5px;
}
#skiplink a {
    padding: 6px;
    position: absolute;
    top: -80px;
    left:  0;
    background-color: #b8e4ca;
    color: #000000;
    text-decoration: none;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#skiplink a:focus {
    position: absolute;
    left: 0;
    top: 0;
}
